<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Insurence premium charges predection</title>
</head>
<body>
    <h1>Insurence Premium Predection</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima ut nesciunt consectetur 
        eligendi inventore, a consequuntur animi quos numquam earum ex incidunt necessitatibus
         temporibus, dolor accusantium ipsam nobis facere quis.</p>

         <a href='C:\Users\hp\Upflairs\Machine_Learning\insurance\templates\project.html'><button>Go to Project</button></a>
         <br><br>
    <hr>
    <h2>Antish Kumar</h2>
    <p>MCA student @Career Point University | Data science intern at @Upflairs | Exploring Data Science</p>
    <p>As a fresh IT enthusiastic and motivated graduate with a solid foundation in MS Excel, MySQL, Python, Html, Css, database management system, data analysis, and data visualization. Eager to apply my technical skills and passion for data-driven solutions in a dynamic and collaborative environment. With a strong academic background and a commitment to continuous learning, I am poised to contribute effectively to projects that require a combination of programming, analytical, and visualization expertise</p>   
    <img src="C:\Users\hp\Upflairs\Machine_Learning\insurance\static\image\myimage.png" alt=""height="200" width="200">
    <hr>
    <h2>Project Details</h2>
        <p>As a fresh IT enthusiastic and motivated graduate with a solid foundation in MS Excel, MySQL, Python, Html, Css, database management system, data analysis, and data visualization. Eager to apply my technical skills and passion for data-driven solutions in a dynamic and collaborative environment.</p>

        <h4 align='center'>Thanks for visiting our project</h4>
        
</body>
</html>
